In [3]:
import pandas as pd

# Sample datetime data
data = {
    'datetime': ['2025-04-23 10:30:00', '2025-04-23 15:45:00', '2025-04-24 09:15:00']
}

df = pd.DataFrame(data)

# Convert to datetime type
df['datetime'] = pd.to_datetime(df['datetime'])

# Separate into date and time
df['date'] = df['datetime'].dt.date
df['time'] = df['datetime'].dt.time

df

             datetime        date      time
0 2025-04-23 10:30:00  2025-04-23  10:30:00
1 2025-04-23 15:45:00  2025-04-23  15:45:00
2 2025-04-24 09:15:00  2025-04-24  09:15:00